<div class="player-container">
  <div class="screen">
    {{ playing ? ' ' : 'Game is paused' }}<app-game #paused *ngIf="playing" @neonGlow></app-game>
  </div>
  <div class="buttons-container">
    <button class="play-button" (click)="togglePlay()" >
      {{ playing ? '⏸' : '▶' }}
    </button>
    <button class="play-button" (click)="toggleMute()">
      <span [innerHTML]="mute ? safeVolumeOn : safeVolumeOf"></span>
    </button>
    <audio #myaudio src="../../assets/audio/super-mario-soundtrack.mp3" loop></audio>
  </div>
</div>
